services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: thy-case-study-backend:local
    env_file:
      - .env
    environment:
      PORT: "{{.Port}}"
    ports:
      - "{{.Port}}:{{.Port}}"
    restart: unless-stopped
